<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="izzi.connect.controls" >

    <application
        android:allowBackup="true"
        android:supportsRtl="true" >
        <activity
            android:name=".IzziConnectActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ConsentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ic_activity_izzi_registro"
            android:label="@string/title_activity_ic_activity_izzi_registro"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".IzziConnectContrataActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/title_activity_izzi_connect_contrata" >
        </activity>
    </application>

</manifest>
